@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sixtyfour&display=swap");

.body {
   width: 100vw;
   display: flex;
   color: #fff;
   font-family: "lato", sans-serif;
}
.BigTitle {
   color: #fff;
   font-family: "lato", sans-serif;
   font-weight: 700;
   font-size: 50px;
   letter-spacing: 10px;
   background: -webkit-linear-gradient(white, #38495a);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.flex {
   display: flex;
}
.flexCentered {
   display: flex;
   justify-content: center;
   align-items: center;
}

.main {
   position: relative;
}
.flexSpaceBetween {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.container {
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.containerColumn {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.cadre {
   max-width: 90%;
   width: 90%;
   padding: 25px;
   display: flex;
   flex-direction: column;
   border-radius: 25px;
   box-shadow: 0 0 7px 2px rgba(255, 255, 255, 0.5);
   backdrop-filter: blur(1px);
   background: linear-gradient(-45deg, rgba(30, 30, 30, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
}

.cadre h1 {
   width: auto;
   padding-bottom: 25px;
   color: #fff;
}

.cadre .contentCadre {
}

.cadre .contentCadre .picFrame {
   width: 33%;
}

.cadre .contentCadre .picFrame img {
   width: 75%;
   border-radius: 100%;
   min-width: 200px;
}

.cadre .contentCadre .zone {
   padding: 15px;
   color: white;
   height: 100%;
}

.cadre .contentCadre .zone .textZone {
   height: 75%;
   padding: 25px;
}

.cadre .contentCadre .zone .footerZone {
   height: 25%;
}

.cadre .contentCadre .zone .footerZone h2 {
   box-shadow: 0 0 0 1px;
   padding: 15px 55px;
   border-radius: 25px;
   transition: transform 0.5s ease;
}

.cadre .contentCadre .zone .footerZone h2:hover {
   transition: width 0.5s ease;
   background-color: blue;
}

.cadreLine {
   width: 100%;
   padding: 25px;
   justify-content: space-around;
   background-color: black;
}

.cadreLine h1 {
   height: 50px;
}

.cadreLine .textOnly {
   width: 75%;
}

.containerOption {
   display: flex;
   justify-content: space-around;
   padding: 40px 0;
}
.containerOption .option {
   width: 40%;
   height: 300px;
}
.containerOption .option h2 {
   height: 20%;
}
.containerOption .option p {
   height: 50%;
}

.containerOption .option .metier {
   margin: 10px 0px;
   width: 70%;
   height: auto;
   height: 30%;
}
.containerOption .option .metier li {
   text-align: left;
}

/* Projets */

.Projects {
   padding: 20px;
}

/* .main .accueil {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
} */
/* 

.APropos {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.AProposContainer {
   height: 100vh;
   width: 90%;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.title {
   height: 50px;
   color: white;
}

.PresentationBox {
   height: calc(100vh - 50px);
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.picturesFrame {
   width: 30%;
   height: 80%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.picturesFrame img {
   width: 70%;
   border-radius: 50%;
}

.PresentationContent {
   width: 60%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 80%;
   position: relative;
   font-family: "Poppins", sans-serif;
}

.PresentationContent h2 {
   color: #fff;
   font-size: 32px;
   font-weight: 700;
}

.PresentationContent p {
   color: #fff;
   font-size: 18px;
   font-weight: 500;
}

.PresentationContent p:last-child {
   color: red;
   font-size: 18px;
   font-weight: 500;
   text-align: center;
}

.cvContainer {
   height: 100px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.cv {
   height: 50%;
   width: 150px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 15px;
   color: #fff;
   position: relative;
   overflow: hidden;
   transition: color 0.5s ease;
   box-shadow: 0 0 0 1px white;
}
.cv:hover {
   color: #000;
   box-shadow: none;
}
.cv::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 0;
   height: 100%;
   background-color: #3498db;
   transition: width 0.5s ease;
   border-radius: 15px;
   color: #000;
}

.cv:hover::before {
   width: 100%;
   color: #000;
}

.cv h2 {
   position: absolute;
   z-index: 50;
   text-align: center;
   transition: color 0.1s ease;
   color: inherit;
}

.cv:hover h2 {
   color: #000;
}

.BtsSIO {
   height: 60vh;
   z-index: 10;
   min-height: 650px;
   width: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: column;
   color: white;
   background-color: #00000077;
   padding: 25px 15%;
}
.BtsSIO h1 {
   font-size: 36px;
}
.BtsSIO h3 {
   font-size: 30px;
   text-align: left;
   width: 100%;
}

.BtsSIO p {
   font-size: 22px;
}

.OptionContainer {
   display: flex;
   height: 50%;
}
.TopContainer {
   height: 40%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

.option {
   margin-bottom: 20px;
}
.option h2 {
   color: #fff;
   height: 15%;
   font-weight: 700;
   padding-bottom: 50px;
}

.option p {
   height: 60%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.option ul {
   height: 40%;
   list-style: none;
   padding: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.option li {
   margin-bottom: 5px;
   text-align: center;
}
.option li:before {
   content: "✅";
   margin-right: 5px;
}

.projets {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 60px 0px;
}

.projets h1 {
   color: #fff;
}

.Compts {
   height: 60vh;
   z-index: 10;
   min-height: 650px;
   width: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: column;
   color: white;
   background-color: #00000077;
   padding: 25px 15%;
} */
