.leftMenuNav {
   width: 300px;
   height: 100vh;
   position: fixed;
   background-color: #fffafa;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.leftMenuNav header {
   height: 33%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
}
.leftMenuNav header .PPFrame {
   height: 120px;
   width: 120px;
   border-radius: 100%;
   object-fit: cover;
   overflow: hidden; /* Cache tout contenu qui dépasse du cadre */
}
.leftMenuNav header .PPFrame img {
   height: 100%;
   object-fit: cover; /* Empêche l'image de déborder */
}

.leftMenuNav header .name {
   color: #000;
   text-align: center;
   font-size: 30px;
}
.leftMenuNav header .social {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 90%;
}
.leftMenuNav header .social a,
.leftMenuNav header .social div {
   box-shadow: 0 0 0 1px;
   height: 40px;
   width: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 100%;
   color: black;
}
.leftMenuNav nav {
   padding: 15px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   height: 60%;
   width: 80%;
}

.leftMenuNav footer {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 7%;
}
